:root {
  --accent-color: lavender;
  --primary-color: black;
  --secondary-color: #393e46;
  --heading-font: "Playfair Display", serif;
  --secondary--font: "Poppins", sans-serif;
}

.intro {
  background-color: var(--accent-color);
  text-align: center;
  padding: 200px 20px;
}

.intro a {
  font-family: var(--secondary--font);
  font-weight: medium;
  font-size: 18px;
  border-radius: 4px;
  line-height: 30px;
  padding: 10px 25px;
}

.intro a:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
}
.intro h1 {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
}

.intro h3 {
  font-family: var(--secondary--font);
  font-weight: bold;
  font-size: 36px;
  padding-top: 90px;
}

.intro h4 {
  font-family: var(--secondary--font);
  font-size: 24px;
  font-weight: normal;
  color: var(--secondary-color);
}
