:root {
  --accent-color: lavender;
  --second-accent-color: #9818d6;
  --primary-color: black;
  --secondary-color: #393e46;
  --heading-font: "Playfair Display", serif;
  --secondary--font: "Poppins", sans-serif;
}

.intro {
  background-color: var(--accent-color);
  text-align: center;
  padding: 200px 20px;
}

.intro a {
  font-family: var(--secondary--font);
  color: var(--second-accent-color);
  font-weight: medium;
  font-size: 18px;
  border-radius: 4px;
  line-height: 30px;
  padding: 10px 25px;
}

.intro a:hover {
  background-color: var(--primary-color);
  color: var(--accent-color);
}
.intro h1 {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
}

.intro h3 {
  font-family: var(--secondary--font);
  font-weight: bold;
  font-size: 36px;
  padding-top: 90px;
}

.intro h4 {
  font-family: var(--secondary--font);
  font-size: 24px;
  font-weight: normal;
  color: var(--secondary-color);
}

.paragraph-title {
  font-family: var(--secondary--font);
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

h2 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 64px;
}

p {
  font-family: var(--secondary--font);
  font-weight: normal;
  font-size: 16px;
  opacity: 70%;
}

.btn-light-second {
  font-family: var(--secondary--font);
  font-weight: medium;
  font-size: 16px;
  border-radius: 4px;
  line-height: 30px;
  padding: 10px 25px;
  border-color: var(--second-accent-color);
  color: var(--second-accent-color);
  background-color: white;
}

.description-one {
  padding-top: 130px;
}

.description-two {
  padding-top: 220px;
}

.description-three {
  padding-top: 160px;
}
.weather-app {
  padding-top: 120px;
}

.world-clock {
  padding-top: 100px;
}

@media (max-width: 900px) {
  .description-one {
    text-align: center;
    padding: 0 auto;
  }
  .description-two {
    text-align: center;
    padding: 0 auto;
  }
  .description-three {
    text-align: center;
    padding: 0 auto;
  }

  .intro h1 {
    font-size: 64px;
  }

  .content-section {
    text-align: center;
    padding: 0 auto;
  }
}

.content-section h1 {
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  font-family: var(--heading-font);
}

.content-section h2 {
  font-size: 18px;
  font-family: var(--secondary--font);
  text-align: center;
}

.content-section h3 {
  font-size: 24px;
  font-family: var(--secondary--font);
}

.content-section p {
  font-weight: normal;
  font-family: var(--secondary--font);
  font-size: 16px;
  line-height: 30px;
}

.content-section {
  padding: 200px 20px;
}

.content {
  margin: 0px 15px;
  text-align: center;
}

.content-section .headshot {
  padding: 15px;
  max-width: 400px;
  border-radius: 10%;
}

.content-section a {
  font-family: var(--secondary--font);
  background-color: var(--second-accent-color);
  color: white;
  font-weight: medium;
  font-size: 18px;
  border-radius: 4px;
  line-height: 30px;
  padding: 10px 25px;
}

.content-section a:hover {
  background-color: var(--accent-color);
  color: var(--second-accent-color);
}

.content-section .project {
  border-radius: 5%;
}
